<app-cabecera></app-cabecera>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-12">
        <button  class="btn btn-success" (click)="listar()">Listar Trabajadores</button>
      </div>
    </div>
    <div class="row">
     
      <div class="col-12">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by idr"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username"> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> EMAIL </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
  
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone"> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>
  
          <ng-container matColumnDef="website">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by website"> Website </th>
            <td mat-cell *matCellDef="let element"> {{element.website}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[3, 5, 10]"
                   showFirstLastButtons>
         </mat-paginator>
      </div>
    </div>
  </div>
  <app-pie></app-pie>